<h1>Here are all the things</h1>

<table>
    <tr>
        <td>Hack</td>
        <td>Hackers</td>
        <td>Overall Score</td>
        <td>Early Score</td>
        <td>Late Score</td>
        <td>Score Change</td>
        <% @departments.each do |department| %>
        <td><%= department %></td>
        <% end %>
    </tr>
    <% @hacks.each do |hack| %>
    <tr>
        <td><%= hack.title %></td>
        <td><%= hack.hackers %></td>
        <td><%= hack.adj_score(hack).round(1) %></td>
        <td><%= hack.early_score(hack).round(1) %></td>
        <td><%= hack.late_score(hack).round(1) %></td>
        <td><%= (hack.late_score(hack)- hack.early_score(hack)).round(1) %></td>
        <% @departments.each do |department| %>
        <td><%= hack.adj_department_score(hack,department).round(1) %></td>
        <% end %>
        
    </tr>
    <% end %>   
</table>

<table>
    <tr>
        <td>Name</td>
        <td>Total Votes</td>
        <td>Total Up Votes</td>
        <td>Total Down Votes</td>
        <td>Guy Average</td>
        <td>Girl Average</td>
        <td>Gender Discrepancy</td>
    </tr>
    <% @voters.each do |voter| %>
    <tr>
        <td><%= voter.name %></td>
        <td><%= voter.total_votes %></td>
        <td><%= voter.up_votes %></td>
        <td><%= voter.down_votes %></td>
        <td><%= voter.gen_avg(false) %></td>
        <td><%= voter.gen_avg(true) %></td>
        <td><%= voter.gen_avg(true) - voter.gen_avg(false) %></td>
    </tr>
    <% end %>
</table>