<div style="padding:10px 20px; background-color:#FFF;">
<h1>Results</h1>
<br />
<table class="table table-striped" style="color:#333;">
    <tr style="font-weight:bold;">
        <td>Hack</td>
        <td>Hackers</td>
        <td>Overall Score</td>
        <td>Early Score</td>
        <td>Late Score</td>
        <td>Score Change</td>
        <% @departments.each do |department| %>
        <td><%= department %></td>
        <% end %>
    </tr>
    <% @hacks.each do |hack| %>
    <tr>
        <td><%= hack.title %></td>
        <td><%= hack.hackers %></td>
        <td><%= hack.adj_score(hack).round %></td>
        <td><%= hack.early_score(hack).round %></td>
        <td><%= hack.late_score(hack).round %></td>
        <td><%= (hack.late_score(hack)- hack.early_score(hack)).round %></td>
        <% @departments.each do |department| %>
        <td><%= hack.adj_department_score(hack,department).round %></td>
        <% end %>
        
    </tr>
    <% end %>   
</table>
<br /><br />
<table class="table table-striped" style="color:#333;">
    <tr style="font-weight:bold;">
        <td>Name</td>
        <td>Total Votes</td>
        <td>Total Up Votes</td>
        <td>Total Down Votes</td>
    </tr>
    <% @voters.each do |voter| %>
    <tr>
        <td><%= voter.name %></td>
        <td><%= voter.total_votes %></td>
        <td><%= voter.up_votes %></td>
        <td><%= voter.down_votes %></td>
    </tr>
    <% end %>
</table>
</div>