<h1>Listing hacks</h1>

<table>
<%= @hacks.each do |hack| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td class="list_description">
            <dl>
                <dt>Title: <%= hack.title %></dt>
                <dd>Hackers: <%= hack.hackers %></dd>
                <dd>Gen: <%= hack.gen %></dd>
                <dd>Active Hack:<%= hack.active_hack %></dd>
            </dl>
        </td>
        
        <td class="list_actions">
            <%= link_to 'Show', hack %><br />
            <%= link_to 'Edit', edit_hack_path(hack) %><br />
            <%= link_to 'Destroy', hack,
                        confirm: 'Are you sure?',
                        method: :delete %>
            <%= link_to 'Make Active', hacks_path %>
        </td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New hack', new_hack_path %>