<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @hack.title %>
</p>

<p>
  <b>Hackers:</b>
  <%= @hack.hackers %>
</p>

<div class = "entry">
    <ul>
        <li>Current Score: <%= @hack.total_score %></li>
        <li>Department Scores</li>
        <ul>
            <% @departments.each do |department| %>
            <li><%= department %>: <%= @hack.department_votes(department) %></li>
            <% end %>
        </ul>
    
    </ul>

    <%= button_to 'Vote Up!', votes_path(hack_id: @hack, gen: @hack, department: @hack, direction: 1) %>
    <%= button_to 'Vote Down!', votes_path(hack_id: @hack, gen: @hack, department: @hack, direction: -1) %>
    

    
</div>

<%= link_to 'Edit', edit_hack_path(@hack) %> |
<%= link_to 'Back', hacks_path %>
