<div class="container">
    <h1>New voter</h1>
    <%= form_for(@voter) do |f| %>
  <% if @voter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voter.errors.count, "error") %> prohibited this voter from being saved:</h2>

      <ul>
      <% @voter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<legend>Enter Voter Details</legend>

<div>
    <p>Yammer Alias: 
    <%= f.text_field :name, size: 40 %></p>
</div>

<div>
    <h4>Select Your Department (Required!)</h4>
    <% @dept.each do |dept| %>
        <%= f.radio_button :department, dept %> <%= label_tag :department, dept %><br />
    <% end %>
</div>

<div style="margin-top:30px;">
    <button class="btn btn-medium btn-primary" type="button"><%= f.submit %></button>
</div>

</fieldset>
<% end %>
</div>