<div>

<%= form_for(@voter) do |f| %>
  <% if @voter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voter.errors.count, "error") %> prohibited this voter from being saved:</h2>

      <ul>
      <% @voter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<legend>Enter Voter Details</legend>

<div>
    <%= f.label :name %>:
    <%= f.text_field :name, size: 40 %>
</div>

<div class = ''>
    <%= f.label :department %>:<br />
    <%= f.radio_button :department, 'Analytics' %>
    <%= label_tag :department, 'Analytics' %><br />
    <%= f.radio_button :department, 'Rails Team' %>
    <%= label_tag :department, 'Rails Team' %><br />
    <%= f.radio_button :department, 'WEB TEAM' %>
    <%= label_tag :department, 'WEB TEAM' %><br />
    <%= f.radio_button :department, 'Clients' %>
    <%= label_tag :department, 'Clients' %><br />
    <%= f.radio_button :department, 'Core Services' %>
    <%= label_tag :department, 'Core Services' %><br />
    <%= f.radio_button :department, 'Infrastructure' %>
    <%= label_tag :department, 'Infrastructure' %><br />
    <%= f.radio_button :department, 'Other' %>
    <%= label_tag :department, 'Other' %><br />
    <%= f.radio_button :department, 'Product' %>
    <%= label_tag :department, 'Product' %><br />
    <%= f.radio_button :department, 'UX' %>
    <%= label_tag :department, 'UX' %>
    </div>
  
</div>

<div>
    <%= f.submit %>
</div>

</fieldset>
<% end %>
</div>