<!DOCTYPE html>
<html>
<head>
  <title>Arbitrary, Corrupt, and Data Driven</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class ='<%= controller.controller_name %>'>

  <div id="banner">
    <%= @page_title || "Arbitrary, Corrupt, and Data-Driven" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to "Voting Booth", booth_index_path %> </li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
