<!DOCTYPE html>
<html>
<head>
  <title>Green</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class ='<%= controller.controller_name %>'>

<<<<<<< HEAD

    <%= @page_title || "Green" %>
      <%= yield %>
=======
 
    <%= @page_title || "Green" %>
  
      <%= yield %>

>>>>>>> 9432f0b73f1404903c1947e974b24429db5aceb1
</body>
</html>
